body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 85px;
    margin-top: 100px;

}
.orenge{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    margin-top: 140px;
    width: 50%;
    padding-left: 5%;
    
}
.half-width img{
    width: 100%;
}
.button-link{
    text-decoration: none;
    font-size: 25px;
    color:whitesmoke;
    margin-top: 20px;
    background-image: linear-gradient( rgb(228, 158, 28),rgb(212, 45, 15) );
    padding: 20px 40px;
    border-radius: 50px;
}
.image2 img{
    margin-top: 90px;
    width: 50%;
    padding-left: 5%;
}
.image2 img{
    width: 138%;
}
.about-us-style{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 20px;
    font-weight: lighter;

}
.half-width2{
    margin-top: 220px;
    width: 50%;
    padding-left: 30%;
    
}
.middle{
    text-align: center;
    width: 100%;


}
.recipie div{
padding: 30px ;
border-radius: 40px;
margin: 80px;
background-color: wheat;



}
.recipie-img{
    width: 100%;
    border-radius: 20px;
    margin-left: 0px;
    
    
}
.k{
width:100%;
overflow:hidden;
display:initial;

}

.container{
    width:100%;
    padding:20px;
    overflow:hidden;
    background-color: whitesmoke;
    margin-left: 5%;
    margin-right: 2%;
    border-radius: 40px;
   
}
.container div{
    width:33%;
    display:inline-block
}
.footer{
    text-align: center;
    width: 100%;
    color: whitesmoke;
    background: black;
}
.fcolor {
    color: tomato;
}
